<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{$basePath}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/css/full.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

	<title>{ifset title}{include title|stripHtml}{/ifset}</title>
</head>

<body style="background: url('{$basePath}/img/background.jpg') no-repeat center center fixed; background-size: cover;
  ">
	
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type" style="background-color: #f7f7f9; padding: 10pt">{$flash->message}</div>

	{ifset breadcrumb}
	<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a n:href="Homepage:">My contacts</a></li>
    		<li class="breadcrumb-item active" aria-current="page">{include breadcrumb}</li>
  		</ol>
	</nav>
	{/ifset}

	<br>
	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/vendor/jquery/jquery.min.js"></script>
    <script src="{$basePath}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	{/block}
</body>
</html>
