{block content}
<div class="row justify-content-lg-center">
<div class="col-lg-5">
<form n:name="groupForm" id="backgroundStyle">
	<h4 n:block="title">{block breadcrumb}Add new group{/block}</h4>
	<div class="form-group">
		<label>Name</label>
		<input n:name="name" class="form-control">
	</div>
	<button n:name="add" type="submit" class="btn btn-info">Add group</button>
</form>
</div>
</div>
